.auth {
  &__section {
    max-height: 100vh;
    height: 100%;
  }

  &__content {
    &-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    &-title {
      font-size: 38px;
      line-height: 42px;
    }

    &-subtitle {
      font-size: 34px;
      line-height: 38px;
    }

    &-btns {
      display: flex;
      gap: 20px;

      &__item-wrapper {
        width: 100%;
      }
    }
  }
}

// auth
@media (max-width: 700px) {
  .auth__content-title {
    font-size: 34px;
    line-height: 38px;
  }

  .auth__content-subtitle {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (max-width: 550px) {
  .auth__content-btns {
    gap: 10px;
    flex-direction: column;
  }

  .auth__content-title {
    font-size: 30px;
    line-height: 34px;
  }

  .auth__content-subtitle {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  .auth__content-title {
    font-size: 26px;
    line-height: 30px;
  }

  .auth__content-subtitle {
    font-size: 22px;
    line-height: 26px;
  }
}
