<header class="header">
  <mat-toolbar class="header__toolbar">
    <div class="header__toolbar-text" *ngIf="!noUser; else guestMode">
      <span class="header__toolbar-text__span"
        >{{ user?.displayName ?? "" | truncateText : 15 }} |
      </span>

      <span class="header__toolbar-text__span">{{
        user?.email ?? "" | truncateText : 15
      }}</span>
    </div>
    <ng-template #guestMode>
      <span class="header__toolbar-text">{{ noUser }}</span>
    </ng-template>
    <button mat-stroked-button *ngIf="user" (click)="onSignOut()">
      Sign out
    </button>
    <a mat-stroked-button *ngIf="!user" routerLink="/"> Sign in </a>
  </mat-toolbar>
</header>
