.header {
  width: 100%;

  &__toolbar-text {
    text-align: right;
  }

  &__toolbar {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }
}

@media (max-width: 1400px) {
  .header__toolbar-text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 560px) {
  .header__toolbar-text .header__toolbar-text__span:first-child {
    display: none;
  }
}
