.map__search-result {
  padding-bottom: 10px;

  &__item {
    border-bottom: 1px solid black;
    margin-bottom: 10px;

    &-title {
      font-size: 24px;
      line-height: 28px;
      padding-bottom: 10px;
      background-color: #f1f1f1;
      padding: 5px 10px;
    }
  }

  &__type {
    font-size: 20px;
    line-height: 24px;
  }

  &__additional-title {
    font-size: 18px;
    line-height: 22px;
    background-color: #e6e6e6;
    padding: 5px 10px;
  }

  &__flag {
    padding: 0 10px;
  }

  &__wrapper {
    padding-top: 10px;
  }
}
