.map__section {
  height: 100vh;
}

.map__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.map__search {
  height: 600px;
  overflow: auto;
  width: 400px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.map__search-field__wrapper {
  width: 100%;
}

.map__search-field {
  width: 100%;
}

.map__search-form__field-input {
}

.map__search-result__wrapper {
  padding-top: 10px;
}

.map__search-result {
  padding-bottom: 10px;
}

.map__search-result__inner {
}

.map__search-result__item {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.map__search-result__item-title {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 10px;
  background-color: #f1f1f1;
  padding: 5px 10px;
}

.map__search-result__type {
  font-size: 20px;
  line-height: 24px;
}

.map__search-result__field {
}

.map__search-result__additional {
}

.map__search-result__additional-title {
  font-size: 18px;
  line-height: 22px;
  background-color: #e6e6e6;
  padding: 5px 10px;
}

.map__search-result__flag {
  padding: 0 10px;
}

.marked-locations {
  padding: 10px 0;
}

.marked-locations__title {
  font-size: 22px;
  line-height: 26px;
}

.marked-locations__list {
  max-height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px 15px;
  overflow-x: auto;
}

.marked-locations__item {
  width: max-content;
  cursor: pointer;
  display: flex;
  gap: 15px;
  border: 1px solid #000;
  transition: all 0.3s;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  width: 30%;

  &:hover {
    transform: scale(1.05);
  }
}

.marked-locations__item-field {
}

.marked-locations__item-field__span {
  font-weight: 600;
}
