<section class="section map__section">
  <app-header />
  <div class="container map__container" style="height: 100%">
    <div class="map__wrapper">
      <google-map
        height="500px"
        width="800px"
        [options]="options"
        (mapDblclick)="onMapDblClick($event)"
      >
        @if (markedLocations$ | async; as markedLocations) { @for (location of
        markedLocations; track location; let index = $index) {
        <map-advanced-marker
          #markerElem="mapAdvancedMarker"
          *ngIf="location.location as innerLocation"
          [position]="{
            lat: innerLocation.latitude,
            lng: innerLocation.longitude
          }"
          [title]="'Location ' + (index + 1)"
        />}}
      </google-map>
      <div class="map__search">
        <div class="map__search-field__wrapper">
          <mat-form-field class="map__search-field">
            <mat-label>Search on maps</mat-label>
            <input
              matInput
              class="map__search-form__field-input"
              value="Warszawa"
              [formControl]="searchControl"
            />
          </mat-form-field>
        </div>

        <div
          class="map__search-result__wrapper"
          *ngIf="loadingSig() === false; else loading"
        >
          <div
            *ngIf="foundPlacesDetails$ | async as foundPlaces"
            class="map__search-result"
          >
            <ng-container
              *ngFor="let place of foundPlaces; trackBy: trackById"
              class="map__search-result__inner"
            >
              <div class="map__search-result__item">
                <h3 class="map__search-result__item-title">
                  {{ place.localname }}
                </h3>
                <h5 class="map__search-result__type">Type: {{ place.type }}</h5>
                <p class="map__search-result__field">
                  Country: {{ place.country_code | uppercase }}
                </p>
                <p
                  *ngIf="place.addresstags.postcode"
                  class="map__search-result__field"
                >
                  Post code: {{ place.addresstags.postcode }}
                </p>
                <div class="map__search-result__additional">
                  <h6 class="map__search-result__additional-title">
                    Additional info
                  </h6>
                  <img
                    *ngIf="place.extratags.flag"
                    [src]="place.extratags.flag"
                    width="160"
                    height="100"
                    alt="flag"
                    class="map__search-result__flag"
                  />

                  <ng-container
                    [ngTemplateOutlet]="
                      place.extratags.population ? infoField : noInfo
                    "
                    [ngTemplateOutletContext]="{
                      obj: {
                        field: 'population',
                        value: place.extratags.population
                      }
                    }"
                  ></ng-container>

                  <ng-container
                    [ngTemplateOutlet]="
                      place.extratags.phone ? infoField : noInfo
                    "
                    [ngTemplateOutletContext]="{
                      obj: {
                        field: 'phone',
                        value: place.extratags.phone
                      }
                    }"
                  ></ng-container>

                  <ng-container
                    [ngTemplateOutlet]="
                      place.extratags.wikidata ? infoField : noInfo
                    "
                    [ngTemplateOutletContext]="{
                      obj: {
                        field: 'wikidata',
                        value: place.extratags.wikidata
                      }
                    }"
                  ></ng-container>

                  <ng-container
                    [ngTemplateOutlet]="
                      place.extratags.wikipedia ? infoField : noInfo
                    "
                    [ngTemplateOutletContext]="{
                      obj: {
                        field: 'wikipedia',
                        value: place.extratags.wikipedia
                      }
                    }"
                  ></ng-container>

                  <ng-container
                    [ngTemplateOutlet]="
                      place.extratags.website ? infoField : noInfo
                    "
                    [ngTemplateOutletContext]="{
                      obj: {
                        field: 'website',
                        value: place.extratags.website
                      }
                    }"
                  ></ng-container>

                  <ng-template #infoField let-obj="obj"
                    ><app-extra-info [transferData]="obj"
                  /></ng-template>

                  <ng-template #noInfo let-obj="obj">
                    <app-no-available-info [infoMessage]="obj.field" />
                  </ng-template>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <ng-template #loading>
          <div class="map__loading">
            <h6>Loading...</h6>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="marked-locations">
      <h4 class="marked-locations__title poppins-bold">Marked locations:</h4>
      <div class="marked-locations__list">
        @if (markedLocations$ | async; as markedLocations) { @for (location of
        markedLocations; track $index; let i = $index) {
        <button
          class="marked-locations__item"
          *ngIf="location.location as innerLocation"
          (click)="useMarkedLocation(innerLocation)"
        >
          <div class="marked-locations__item-field">
            <span class="marked-locations__item-field__span">Lat:</span>
            {{ innerLocation.latitude }}
          </div>
          <div class="marked-locations__item-field">
            <span class="marked-locations__item-field__span">Lat:</span>
            {{ innerLocation.longitude }}
          </div></button
        >} @empty {
        <p class="marked-locations__list-empty poppins-semibold">
          There are no marked locations
        </p>
        }}
      </div>
    </div>
  </div>
  <app-footer />
</section>
