.footer {
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  background-color: #000;
  color: #fff;
  width: 100%;

  &__inner {
    text-align: center;
  }

  &__link {
    color: inherit;
  }
}
