@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1420px;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.poppins {
  &-regular,
  &-semibold,
  &-bold {
    font-family: "Poppins", sans-serif !important;
    font-style: normal !important;
  }

  &-regular {
    font-weight: 400 !important;
  }

  &-semibold {
    font-weight: 600 !important;
  }

  &-bold {
    font-weight: 700 !important;
  }
}

@media (max-width: 825px) {
  .map__entity .map-container {
    width: 600px !important;
    height: 400px !important;
  }
}

@media (max-width: 625px) {
  .map__entity .map-container {
    width: 400px !important;
    height: 300px !important;
  }
}

@media (max-width: 425px) {
  .map__entity .map-container {
    width: 300px !important;
    height: 300px !important;
  }
}
